@media screen and (max-width:768px) {
    :root {
        --product-width: 148px;
        --product-thumbnail-height: 200px;
        --layoutBlock: 29px;
        --layoutInline: 24px;
    }

    .page--app-main {
        grid-template-columns: 1fr;
    }

    .page--app-main>.page--app-bg {
        height: 60vh;
    }

    .page--app-main>.page--app-bg::before {
        content: "";
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 78.65%);
        opacity: 0.5;
        height: 40%;
        width: 100%;
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;
    }


    .page--app-main>.page--app-section .page--app-heading {
        color: white;
    }

    .page--app-main>.page--app-section .page--app-heading .heading--title {
        width: 100%;
        font-size: 20px;
        margin-bottom: 16px;
    }

    .page--app-main>.page--app-section .page--app-heading>.heading--discover {
        border-color: white;
        font-weight: 500;
    }

    .swiper-button-next, .swiper-button-prev {
        display: none !important;
    }

    .page--app-main>.page--app-section {
        position: relative;
        z-index: 1;
        margin-top: calc(var(--layoutBlock) * -9);
    }

    .page--app-main>.page--app-section .page--app-products .page--app-products-item .product-price-colors {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .page--app-main>.page--app-section .page--app-products {
        margin-top: 32px;
    }

    .d-none-xs {
        display: none;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    :root {
        --layoutBlock: 40px;
        --layoutInline: 30px;
    }

    .page--app-main>.page--app-section .page--app-heading .heading--title {
        width: 90%;
    }

    .page--app-main>.page--app-section .page--app-heading>.heading--sub-title {
        width: 90%;
    }
}

@media screen and (min-width:1025px) and (max-width:1299px) {
    :root {
        --layoutInline: 60px;
    }

    .page--app-main>.page--app-section .page--app-heading .heading--title {
        width: 90%;
    }

    .page--app-main>.page--app-section .page--app-heading>.heading--sub-title {
        width: 90%;
    }
}

@media screen and (min-width:1300px) and (max-width:1600px) {


    .page--app-main>.page--app-section .page--app-heading .heading--title {
        width: 90%;
    }

    .page--app-main>.page--app-section .page--app-heading>.heading--sub-title {
        width: 80%;
    }
}